*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(243, 243, 243);
    font-family: "Roboto", sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.content{
    border-radius: 10px;
    margin-top: 3%;
    background-color: rgb(255, 255, 255);
}

/* header */
header{
    background-color: white;
    padding: 1% 0% 1% 1%;
}

.logo{
    display: inline;
    font-weight: 900;
    font-size: 45px;
}

.v-alygn-mid{
    vertical-align: middle;
}

/* nav */
.bg-nav{
    padding: 2% 0% 1% 5%;
    border-bottom: 3px solid rgb(243, 243, 243);
}

.button{
    padding: 0.5%;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

.button-blue{
    background-color: rgb(64, 127, 198);
    border: 2px solid rgb(64, 127, 198);
}

.button-border{
    border: 2px solid darkgray;
    color: darkgray;
    background-color: white;
}

/* main */
.bg-main{
    padding: 3%;
}